.navbar {
    background: #444444;
    color: white;
    position: fixed;
    left: 0;
    width: 10%;
    min-width: 100px;
    height: 100%;
    text-align: center;
    font-size: 32px;
}

.element {
    position: relative;
    width: 40%;
    border: grey 2px solid;
    margin: 20px auto;
    padding: 5px 20px;
}

.element:hover {
    background-color: lightblue;
}

.rightcontainer {
    position: relative;
    left: 10%;
    width: 90%;
}

.textbutton {
    background: initial;
    color: white;
    border: none;
}

.interactbar {
    position: relative;
    text-align: center;
    border: 5px black solid;
    padding: 20px;
    margin: 20px auto;
}